.detail-post-link {
  background-color: #0059ff;
  padding: 0.3rem 0.5rem;
  text-decoration: none;
  border-radius: 0.3rem;
  color: #fff;
  font-weight: 600;
}
.posts {
  border: 1px solid#ddd;
  margin: 1rem;
  min-height: 160px;
  border-radius: 0.5rem;
  padding: 1rem;
}
